@import-normalize;

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  color: rgb(51, 49, 49);
  background-color: #fff;
}

h2,
p,
ul,
li {
  margin: 0px;
}

ul {
  padding-left: 0;
}

.section {
  margin-left: auto;
  margin-right: auto;

  width: 350px;

  border-style: none;
  border-radius: 5px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: rgb(250, 249, 180);
}
